* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Nunito Sans", sans-serif;
}
:root {
  --bg-color: #EEF5FF;
  --text-color: #176B87;
  --main-color: #B4D4FF;
  --snf-pg-color: #86B6F6;
}
